*.xlsx
*.Rhistory
*.DS_Store
*.user
*.Rproj*
*.aux
*.bcf
*.log
*.out
*.pdf
*.xml
*.Rproj.user
*.png
*.swp
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.bbl
*.blg
.Rproj.user

meta-analysis/2022-06-13_final_consensus_data.csv
meta-analysis/review_120729_20220614005116.csv
